@model ICollection<IRR.Core.Category>


<p><a asp-action="Create">Add</a></p>


<ul>
    @foreach (var item in Model)
    {
        @item.Name
        <li>
            @Html.ShowCategories(item.Children)
        </li>
    }
</ul>
