@model ICollection<IRR.Core.Category>


<p>
    @foreach (var item in Model)
    {
        <ul>
            <li>
                @item.Name 
                <button>
                    <a asp-action="Create" asp-route-id="@item.Id">
                        +
                    </a>
                </button>
                @Html.ShowCategories(item.Children)
            </li>
        </ul>
    }
</p>
