@model ICollection<IRR.Core.Category>


<p><a asp-action="Create">Добавить категорию</a></p>


<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name
            <li>
                @Html.ShowCategories(item.Children)
            </li>
        </li>
    }
</ul>