@model ICollection<IRR.Core.Category>


<p>
    <a asp-action="Create">
            <button class="btn btn-outline-info">
                +
            </button>
        </a>
    @foreach (var item in Model)
    {
        <ul>
            <li>
                @item.Name
                <a asp-action="Create" asp-route-id="@item.Id">
                    <button class="btn btn-outline-info">
                        +
                    </button>
                </a>
                @Html.ShowCategories(item.Children)
            </li>
        </ul>
    }
</p>
