@model List<IRR.Core.CategoryField>

<p>
    <a asp-action="">Create New</a>
</p>

<table class="table">
    <tr>
        <td>
            Название:
        </td>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>